// Human Blood profile
profiles {
    human_blood_basecall {
        params {
            project_name = "human_blood"
            step = 1
            basecall_path = "./data/pod5"
            reference_file = "./references/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
            out_dir = "results_human_blood/"
        }
    }
    human_blood_qc {
        params {
            project_name = "results_human_blood"
            step = "2_from_step_1"
            steps_2_and_3_input_directory = "./results/results_human_blood/"
            out_dir = "results_human_blood/"
        }
    }
    human_blood_modkit {
        params {
            project_name = "results_human_blood"
            step = 3
            steps_2_and_3_input_directory = "./results/results_human_blood/"
            out_dir = "results_human_blood/"
        }
    }
}