// CONFIGURATION FILE

// Pipeline parameter default values, can be modified by user when calling
// pipeline on command line (e.g. --ont_reads_fq sample_1.fastq)

params {
    // Project name (used to identify which project you're working on)
    project_name = "default"
    // Input reference fasta file
    reference_file = "None" 
    // Step of pipeline to execute
    step = "None"
    // Output directory for pipeline results
    out_dir = "results_${params.project_name}/" 
    // directory of basecalling data
    basecall_path = "None" 
    // MAPQ filtering threshold for bam files, 0 for no filtering
    mapq = "10" 
    // Quality score threshold
    qscore_thresh = "9"
    // Desired basecall speed ("fast", "hac", "sup"; @latest <- latest version available)
    basecall_speed = "sup@latest"
    // Desired basecaller modifications (4mC_5mC, 5mCG_5hmCG, 5mC_5hmC, 6mA; can't use more than one modification per nucleotide)
    basecall_mods = "5mC_5hmC"
    // Kit name (kit used to barcode the samples (e.g. SQK-RBK114-24); Use "None" to skip --kit-name in basecalling)
    barcoding_kit = "SQK-RBK114-24"
    // Threshold for mapped reasds
    min_mapped_reads_thresh = 500
    // Desired basecall model version as a path (e.g. ./models/dna_r10.4.1_e8.2_400bps_sup@v5.2.0)
    basecall_config = "None"
    // Type of read trimming during basecalling ("all", "primers", "adapters", "none"); You should change to "none" if you don't want to trim in the basecalling
    basecall_trim = "all"
    // Basecalling demultiplexing
    basecall_demux = false
    // Barcodes were trimmed? (if True = demux will only separate the files; if False = demux will trim after basecalling and separate them)
    trimmed_barcodes = "True"
    // Add prefix to all output files
    prefix = "None"
    // Which GPU devices to use for basecalling?
    gpu_devices = "all"
    // Previous results
    steps_2_and_3_input_directory = "None"
    // MultiQC config
    multiqc_config = "None"
    // Are the files from MinKNOW barcoded or not 
    is_barcoded = true
}

// queue_size depends on the step
includeConfig ({
    if (params.step == 1) { return './configs/queue-basecalling.config' }
    else { return './configs/queue-default.config' }
}())

process { 
    // Define local cpu execution
    withLabel: cpu {
        executor='local'
    }
    // Define local gpu execution
    withLabel: gpu {
        executor='local'
        containerOptions = '--nv --nvccli'
    }
    // Define the container for every process
    container = "./images/debian-nanopore.sif"
}

executor {
	name = 'local'
	queueSize = params.queue_size
}

apptainer {
	enabled = true
	pullTimeout = '60m'
}

profiles {
    Basecall_Human_Blood {
        params {
            project_name = "humanTest"
            step = 1
            basecall_path = "./data/pod5"
            reference_file = "./references/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
            qscore_thresh = "9"
            basecall_speed = "sup@latest"
            basecall_mods = "5mC_5hmC"
            barcoding_kit = "SQK-RBK114-24"
            basecall_config = "None"
            basecall_trim = "all"
            basecall_demux = false
            trim_barcode = "True"
            gpu_devices = "all"
            out_dir = "results_humanTest/"
        }
        executor.queueSize = 1
    }

    QC_Human_Blood {
        params {
            project_name = "humanTest"
            step = "2_from_step_1"
            steps_2_and_3_input_directory = "./results/results_humanTest/"
            min_mapped_reads_thresh = 500
            qscore_thresh = 9
            mapq = 10
            out_dir = "results_humanTest/"
        }
    }

    Modkit_Human_Blood {
        params {
            project_name = "humanTest"
            step = 3
            steps_2_and_3_input_directory = "./results/results_humanTest/"
            multiqc_config = "./references/multiqc_config.yaml"
            out_dir = "results_humanTest/"
        }
    }
}